@font-face {
  font-family: 'Nunito-sans';
  src: url('../fonts/NunitoSans.ttf');
}

:root {
  --font-family-nunito-sans: 'Nunito-sans';
  --color-purple-blue: #605dec;
  --color-purple-white: #f6f6fe;
  --color-purple-extralight: #e9e8fc;
  --color-grey-100: #fafafa;
  --color-grey-300: #a1b0cc;
  --color-grey-400: #7c8db0;
  --color-grey-600: #6e7491;
  --color-grey-900: #27273f;
}

* {
  font-family: --font-family-nunito-sans, sans-serif;
}
